[run]
omit =
    */tests/*
    */test_*
    app/auth/*
    app/operations/__init__.py
    app/schemas/*
    app/main.py
    app/database_init.py
    app/database.py
    */__init__.py
    */venv/*
    */env/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod